/* Header */
header {
    height: 250px;
    width: 100%;
    text-align: center;
    background-image: url(../home/src/img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

header img {
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Main */
main {
    display: flex;
    align-items: center;
}

/* Linha do fundo */
.linha {
    width: 2px;
    height: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    left: 175px;
    background-color: rgb(83, 83, 83);
    box-shadow: 0 0 10px white;
}

/* Menu Lateral */
#menu {
    height: 100%;
    top: 120px;
    position: absolute;
    position: fixed;
    z-index: 1;
}

.content {
    width: 80px;
    height: 570px;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(110, 110, 110));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    border-radius: 0 50px 0 100px;
    padding: 10px;
    box-shadow: 4px 0 10px rgba(194, 194, 194, 0.3);
    z-index: 1;
    row-gap: 15px;
}

.content .logo-menu {
    width: 70px;
    height: 100px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 35%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.829), rgba(255, 255, 255, 0.418));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.678);
    padding: -10px;
}


.icon-menu {
    width: 30px;
    border-radius: 100px;
    padding-top: 50px;
    opacity: 0.73;
    transition: .25s;
}

.icon-menu:hover {
    transform: scale(1.1);
    opacity: 1;
    transition: .25s;
}

/* Perfil */
.perfil-social {
    width: 100%;
    height: 600px;
    margin-left: 320px;
    padding: 20px;
}

.perfil-a1 {
    width: 100%;
    height: 300px;
    margin-left: -220px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.perfil-a1 .nomes {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.perfil-a1 .nomes h1 {
    color: white;
    font-weight: 600;
}

.perfil-a1 .nomes h2 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}

.perfil-a1 .nomes h2:hover {
    text-decoration: underline;
}

.perfil-a1 .perfil-i {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 2px solid white;
    padding: 10px;
}

.seguidores {
    width: 400px;
    height: 40px;
    display: flex;
    padding-left: 50px;
    gap: 30px;
    margin-top: -5px;
}

.seguidores h2 {
    color: white;
    font-size: 15pt;
    cursor: pointer;
    opacity: 0.8;
}

.seguidores h2:hover {
    opacity: 1;
    text-decoration: underline;
}

/* Descrição/Bio */
.perfil-a2 {
    width: 1100px;
    height: 250px;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(110, 110, 110));
    box-shadow: 0 2px 7px rgb(84, 84, 84);
    margin-left: 200px;
    margin-top: -300px;
    border-radius: 20px;
}

.perfil-a2 .description-p {
    color: white;
    opacity: .9;
    font-size: 13pt;
    display: flex;
    padding-top: 25px;
    margin-left: 35px;
}

/* Postagem */
.postagens h1 {
    color: rgb(188, 188, 188);
    font-size: 20pt;
    font-weight: 600;
    margin-left: 300px;
    padding-top: 35px;
}

.postagens .imagens-p {
    width: 1100px;
    height: 800px;
    padding-top: 20px;
    margin-left: 225px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.postagens .imagens-p img {
    width: 350px;
    height: 500px;
    border: 2px solid white;
    box-shadow: 0 2px 10px white;
    border-radius: 15px;
    transition: .3s;
    cursor: pointer;
}

.postagens .imagens-p img:hover {
    transform: scale(1.05);
    border-radius: 0;
    transition: .3s;
}

/* Footer */
footer{
    width: 100%;
    height: 100px;
    background: linear-gradient(85deg, rgb(0, 2, 29), rgb(0, 0, 7), rgb(1, 0, 32), rgb(0, 0, 12), rgb(0, 0, 24));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

footer span{
    color: rgb(176, 176, 176);
    text-shadow: 0 0 10px rgb(254, 254, 254);
}

/* Scroll */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: none;
}

#sair{
    position: fixed;
    top: 50px;
    right: -5px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

#sair img{
    height: 25px;
    width: 25px;
    transition: .3s;
}

#sair:hover img{
    background-color: red;
    box-shadow: 0 2px 5px red;
    border-radius: 10px 5px 10px 5px;
    transition: .3s;
}
